{% import "header.html" as header %}
{% import "navbar.html" as navbar %}

<!DOCTYPE html>
<html lang="pt-BR">
<head>
    {{ header }}
    <link rel="stylesheet" href="../static/css/home.css">
    <title>TKV - Home</title>
</head>

<body>
    {{ navbar }}
    <div class="tkv-container">
        <div class="tkv-main-panel">
            <div class="tkv-header">
                <h1 class="tkv-box-title">Saldo Total</h1>
            </div>
            <div class="tkv-value">
                <p class="tkv-box-content">R$ <span>63,12</span></p>
            </div>
        </div>

        <div class="tkv-main-panel">
            <div class="tkv-header">
                <h1 class="tkv-box-title">Saldo em Debito</h1>
            </div>
            <div class="tkv-value">
                <p class="tkv-box-content">R$ <span>152,00</span></p>
            </div>
        </div>

        <div class="tkv-main-panel">
            <div class="tkv-header">
                <h1 class="tkv-box-title">Saldo Pendente</h1>
            </div>
            <div class="tkv-value">
                <p class="tkv-box-content">R$ <span>50,00</span></p>
            </div>
        </div>

        <div class="tkv-main-panel">
            <div class="tkv-header">
                <h1 class="tkv-box-title">Proximos Debitos</h1>
            </div>
            <div class="tkv-value">
                <p class="tkv-box-content">R$ <span>280,00</span></p>
            </div>
        </div>
        <span class="clear"></span>
    </div>
    <div class="tkv-movs-main-container">
        <div class="tkv-movs-main-container-internal">
            <div class="tkv-movs-title-container">
                <div class="tkv-movs-title">
                    <h3>Resumo <img src="../static/tpart/img/resumo.svg"></h3>
                </div>
            </div>
            <hr class="div-separator">
            <div class="tkv-movs-container">
                <div class="tkv-mov-box">
                    <div class="tkv-table">
                        <div class="tkv-row">
                            <span class="tkv-tb-header sep">Nome</span><span class="vertical-sep"></span>
                            <span class="tkv-tb-header sep">Descrição</span><span class="vertical-sep"></span>
                            <span class="tkv-tb-header">Valor</span>
                        </div>
                        <hr class="div-separator">
                        <div class="tkv-row tkv-saida">
                            <span class="tkv-tb-iten tkv-saida">teste</span>
                            <span class="tkv-tb-iten tkv-saida">pag boleto</span>
                            <span class="tkv-tb-iten tkv-saida">R$152,00</span>
                        </div>
                        <div class="tkv-row">
                            <span class="tkv-tb-iten tkv-entrada">teste</span>
                            <span class="tkv-tb-iten tkv-entrada">agiota</span>
                            <span class="tkv-tb-iten tkv-entrada">R$215,12</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>