<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <link rel="stylesheet" href="../static/tpart/bootstrap/css/bootstrap.min.css">
    <script src="../static/tpart/popper/popper.min.js"></script>
    <script src="../static/tpart/bootstrap/js/bootstrap.min.js"></script>
    <link rel="shortcut icon" href="../static/img/favicon.ico" type="image/x-icon">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/login.css">
    <title>TKV Sistema de Controle Financeiro</title>
</head>

<body class="text-center">
    <form action="" class="form-signin" method="post">
        <img src="../static/img/logo.png" style="border-radius: 5px;" width="80px">
        <h1 class="h3 p-3 mb-3">Please log in</h1>
        <label for="userInput" class="sr-only" id="user"></label>
        <img src="../static/tpart/img/usuario.svg"><input type="text" class="form-control tkvs-i text-center" id="userInput" placeholder="Usuario" required>
        <img src="../static/tpart/img/senha.svg"><input type="password" id="pass" class="form-control tkvs-i text-center" placeholder="Senha" required>
        <button class="btn btn-lg btn-outline-dark btn-lg" type="submit">Entrar <img src="../static/tpart/img/login.svg"> </button>
    </form>
</body>

</html>